.box {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.flexA {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.flexB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flexC {
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    position: relative;
}